<ion-content padding>
  <h2>Autenticação</h2>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item>
      <ion-label stacked>E-mail</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="exemplo@mail.com"
        [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>E-mail inválido.</p>
    </ion-item>
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Digite sua senha"
        [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Mínimo de 6 caracteres</p>
    </ion-item>
    <button ion-button block type="submit">
      Enviar
    </button>
  </form>

  <button ion-button block clear (click)="register()">
    Criar conta
  </button>
  <button ion-button block clear (click)="resetPassword()">
    Esqueci a senha
  </button>
</ion-content>
