<ion-header>
  <ion-navbar>
    <ion-title>Cadastrar</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-avatar (swipe)="changeAvatar($event)" class="profile-avatar-custom">
      <img src={{avatarUrl}}>
  </ion-avatar>
  <!--<ion-fab center style="margin-top:8%">
    <button ion-fab mini (click)="chooseAvatar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>-->
  <form [formGroup]="registerForm" (submit)="register()" novalidate>
    <!-- Name -->
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input #fullname formControlName="fullname" type="text" (change)="elementChanged(fullname)"
        placeholder="Nome"
        [class.invalid]="!registerForm.controls.fullname.valid && (fullnameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.fullname.valid  && (fullnameChanged || submitAttempt)">
      <p>Seu nome não pode estar em branco.</p>
    </ion-item>
    <!-- Email -->
    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" (change)="elementChanged(email)"
        placeholder="Endereço de email"
        [class.invalid]="!registerForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>Por favor digite um email válido.</p>
    </ion-item>
    <!-- Password -->
    <ion-item>
      <ion-label stacked>Senha</ion-label>
      <ion-input #password formControlName="password" type="password" (change)="elementChanged(password)"
        placeholder="Senha de acesso"
        [class.invalid]="!registerForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!registerForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>A senha precisar ter no mínimo 6 caracteres.</p>
    </ion-item>
    <button ion-button block bottom type="submit">
      Cadastrar
    </button>
  </form>
  
</ion-content>