page-club-home {

    .toolbar-background {
        background-color: #ff9800;
    }

    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;

            img {
                height: 142px;
                width: 120px;
            }
        }

        .card-title {
            position: absolute;
            top: 20%;
            font-size: 2.5rem;
            width: 100%;
            font-weight: bold;
            color: #fff;
            text-shadow: 4px 4px 4px #000;
        }

        .card-subtitle {
            font-size: 2rem;
            position: absolute;
            top: 38%;
            width: 100%;
            color: #fff;
            text-shadow: 3px 3px 3px #000;
        }

        ion-card {
            height: 14rem;
        }
    }

    div.animation-count-pending {

        @keyframes animation-text-size {
            0% { color: #ff9800; font-size: 30px;}
            10% { color: #ff5722; font-size: 50px;}
            20% { color: #ff9800; font-size: 30px;}
            30% { color: #f4511e; font-size: 50px;}
            50% { color: #ff9800; font-size: 30px;}
            50% { color: #f4511e; font-size: 50px;}
            50% { color: #ff9800; font-size: 30px;}
            75% { color: #d84315; font-size: 50px;}
            50% { color: #ff9800; font-size: 30px;}
            90% { color: #f4511e; font-size: 50px;}
            100% { color: #ff9800; font-size: 30px;}
        }

        label {
            
            text-shadow: 1px 1px 1px #000;
            font-size: 30px;
            animation-name: animation-text-size;
            animation-duration: 30s;
        }
    }
}
