page-club-home {

    .toolbar-background {
        background-color: #ff9800;
    }

    .custom-title {
       font-family: ssf4; 
       font-size: 1.2rem; 
    }

    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;

            img {
                height: 142px;
                width: 120px;
            }
        }

        .card-title {
            position: absolute;
            top: 20%;
            font-size: 1.5rem;
            width: 100%;
            font-weight: normal;
            color: #fff;
            text-shadow: 4px 4px 4px #000;
            font-family: 'ssf4';
        }

        .card-subtitle {
            font-size: 2rem;
            position: absolute;
            top: 42%;
            width: 100%;
            color: #fff;
            text-shadow: 3px 3px 3px #000;
        }

        ion-card {
            height: 14rem;
        }
    }

    div.animation-count-pending {

        @keyframes animation-text-size {
            0% { color: #FFFFFF; font-size: 2.2rem;}
            10% { color: #000000; font-size: 3.5rem;}
            20% { color: #FFFFFF; font-size: 2.2rem;}
            30% { color: #000000; font-size: 3.5rem;}
            50% { color: #FFFFFF; font-size: 2.2rem;}
            50% { color: #000000; font-size: 3.5rem;}
            50% { color: #FFFFFF; font-size: 2.2rem;}
            75% { color: #000000; font-size: 3.5rem;}
            50% { color: #FFFFFF; font-size: 2.2rem;}
            90% { color: #000000; font-size: 3.5rem;}
            100% { color: #FFFFFF; font-size: 2.2rem;}
        }

        label {
            
            text-shadow: 1px 1px 1px #000;
            font-size: 2.2rem;
            animation-name: animation-text-size;
            animation-duration: 16s;
        }
    }
}
