<ion-header>

  <ion-navbar >

    <ion-title>
      {{club.title}}
    </ion-title>
    
      <ion-buttons *ngIf="isLoggedOnAdmin" end>
        
        <div *ngIf="pendingUserKeys.length === 0">
        <button ion-button icon-only>
          <label >{{pendingUserKeys.length}}</label>
          <ion-icon name="contact"></ion-icon>
        </button>
        </div>

        <div *ngIf="pendingUserKeys.length > 0" class="animation-count-pending" 
              (click)="showPendingUsers()">
        <button ion-button icon-only>
          <label >{{pendingUserKeys.length}}</label>
          <ion-icon name="contact"></ion-icon>
        </button>
        </div>

      </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">

  <ion-card style="background-color: #ff5722" (click)="openChallenge()">
    <img src="assets/img/kim-kaphwan-win-portrait.png"/>
    <div class="card-title">Desafio</div>
    <div class="card-subtitle">Superar oponentes.</div>
  </ion-card>

  <ion-card style="background-color: #3f51b5" (click)="openEventChallenge()">
    <img src="assets/img/ken-masters-shoryiuuken.png"/>
    <div class="card-title">Eventos</div>
    <div class="card-subtitle">Confirmados</div>
  </ion-card>

  <ion-card style="background-color:  #673ab7" (click)="openRank()">
    <img src="assets/img/heihachi-mishima-full-gauge.png"/>
    <div class="card-title">Rank</div>
    <div class="card-subtitle">Avaliação de rendimento</div>
  </ion-card>

  <ion-card style="background-color:  #c62828" (click)="openVideos()">
    <img src="assets/img/scorpion_mkx.png"/>
    <div class="card-title">Vídeos</div>
    <div class="card-subtitle">YouTube</div>
  </ion-card>

</ion-content>
