page-club-create-new {

    .toolbar-background {
        background-color: #1b5e20;
    }

    div.picture-frame {
        display: flex; 
        flex-direction: column; 
        justify-content: center;

        ion-thumbnail {
            min-width: 15rem;    
            min-height: 10rem;
            img {
                display: block;
                width: 15rem;
                height: 10rem;
                margin-left: auto;
                margin-right: auto;
                max-width: 15rem;
                max-height: 10rem;
            }
            
        }
    }
}
