page-club-create-new {

    div.picture-frame {
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        margin-bottom: 1em;
        margin-top: 1em;
        padding: 1em;

        img {
            display: block;
            height: 280px;
            max-height: 280px;
            width: auto;
        }
    }
}
