<ion-header>

  <ion-navbar>
    <ion-title>Crie seu clube</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div class="picture-frame">
      <ion-fab right *ngIf="isPictureTaken">
        <button ion-fab mini color="danger" (click)="removeTakenPicture()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-fab>
      <ion-item>
        <ion-thumbnail>
          <img *ngIf="!isPictureTaken" src="assets/img/joker-logo.png">
          <img *ngIf="isPictureTaken" src={{getPicture()}} >
        </ion-thumbnail>
        <span style="margin-left: 25%; font-size: 1.4rem;">logomarca</span>
      </ion-item>
      
      <ion-fab center *ngIf="!isPictureTaken" >
        <button ion-fab mini (click)="takePictureGallery()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-fab>
  </div>
  
  <form [formGroup]="createClubForm" novalidate>
    <!-- Name -->
    <ion-item>
      <ion-label stacked>Nome</ion-label>
      <ion-input #name formControlName="name" type="text" maxLength="25" 
        (change)="elementChanged(name)"
        [class.invalid]="!createClubForm.controls.name.valid 
          && (nameChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!createClubForm.controls.name.valid  
      && (nameChanged || submitAttempt)">
      <p>Nome inválido.</p>
    </ion-item>
    <!-- Description -->
    <ion-item>
      <ion-label stacked>Descrição</ion-label>
      <ion-input #description formControlName="description" type="text" maxLength="38" 
        (change)="elementChanged(description)"
        [class.invalid]="!createClubForm.controls.description.valid 
          && (descriptionChanged || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!createClubForm.controls.description.valid  
      && (descriptionChanged || submitAttempt)">
      <p>Descrição válida.</p>
    </ion-item>
  </form>
  <ion-item>
      <ion-label stacked style="color: gray">Membros = {{maxMembers}}</ion-label>
      <ion-range [(ngModel)]="maxMembers" color="secondary" snaps="true" pin="true"
      min="8" max="48" step="8"></ion-range>
  </ion-item>
  <button ion-button block bottom (click)="createClub()">
      SALVAR
  </button>
  <button ion-button block color="danger" bottom (click)="back()">
      VOLTAR
  </button>
  
</ion-content>
