<ion-header>
  <ion-navbar>
    <ion-title>DETALHES DO CLÃ</ion-title>
    <ion-buttons end *ngIf="isAdmin">
      <ion-toggle [(ngModel)]="isEditMode"></ion-toggle>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="picture-frame">
      <ion-item no-lines>
        <ion-thumbnail>
          <img *ngIf="!isEditMode" src={{club.thumbnailURL}}>
          <img *ngIf="isEditMode && newPicture !== null" src={{getPicture()}} >
          <img *ngIf="isEditMode && newPicture === null" src={{club.thumbnailURL}}>
        </ion-thumbnail>
      </ion-item>
      
      <ion-fab center *ngIf="isEditMode" >
        <button ion-fab mini (click)="takePictureGallery()">
          <ion-icon name="images"></ion-icon>
        </button>
      </ion-fab>
  </div>

  <ion-item no-lines *ngIf="isEditMode">
    <ion-label stacked>Nome</ion-label>
    <ion-input [(ngModel)]="newTitle" 
              type="text"></ion-input>
  </ion-item>
  <ion-item no-lines *ngIf="!isEditMode">
    <ion-label stacked>Nome</ion-label>
    <ion-input [ngModel]="club.title" 
              type="text" readonly></ion-input>
  </ion-item>

  <ion-item no-lines *ngIf="isEditMode">
    <ion-label stacked>Descrição</ion-label>
    <ion-input [(ngModel)]="newDescription" 
              type="text"></ion-input>
  </ion-item>
  <ion-item no-lines *ngIf="!isEditMode">
    <ion-label stacked>Descrição</ion-label>
    <ion-input [ngModel]="club.description" 
              type="text" readonly></ion-input>
  </ion-item>

  <ion-item no-lines *ngIf="!isEditMode">
    <h4 style="color: darkgray">Membros</h4>
    <h3>{{club.qntdMembers}}/{{club.maxMembers}}</h3>
  </ion-item>
  <ion-item no-lines *ngIf="isEditMode">
    <h4 style="color: darkgray">Membros</h4>
    <h3>{{club.qntdMembers}}/{{newMaxMembers}}</h3>
    <ion-item>
      <ion-range [(ngModel)]="newMaxMembers" color="secondary" snaps="true" pin="true"
        min={{minMembersQntd}} max="48" step="8"></ion-range>
    </ion-item>
  </ion-item>

  <ion-item no-lines>
    <ion-fab right>
        <button ion-fab mini (click)="shareKey()">
          <ion-icon name="md-share"></ion-icon>
        </button>
    </ion-fab>
    <h4 style="color: darkgray">Chave de acesso</h4>
    <h3>{{club.getClubKey()}}</h3>
  </ion-item>

  <button ion-button full [disabled]="!isEditMode" (click)="saveChanges()">Aplicar</button>

</ion-content>
