page-club-request-access {

    .toolbar-background {
        background-color: #0d47a1;
    }

    ion-buttons {
        text-align: center;

        button {
            width: 12rem;
        } 
    }
}
