<ion-header>
  <ion-navbar>
    <ion-title>MATCH</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button color="primary" (click)="logout()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
    Meus Clãs
  </ion-list-header>
    <ion-item *ngFor="let club of clubs" (click)="openClub(club)">
      <ion-card>
        <div class="left-side">
          <ion-thumbnail>
            <img src={{club.thumbnailURL}}>
          </ion-thumbnail>
        </div>
        <div class="right-side">
          <h2>{{club.title}}</h2>
          <hr>
          <h3>{{club.description}}</h3>
          <hr>
          <h3 *ngIf="club.qntdMembers == 1">{{club.qntdMembers}} membro</h3>
          <h3 *ngIf="club.qntdMembers > 1">{{club.qntdMembers}} membros</h3>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content> 
