<ion-header>
  <ion-navbar>
    <ion-title>MATCH</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button color="primary" (click)="logout()">
        <ion-icon ios="ios-exit" md="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item text-wrap no-lines *ngIf="haveNoClub">
    <h2 class="warning-no-club">Bem vindo {{userName}}</h2> 
    <p class="warning-no-club"> Você pode solicitar acesso a um 
      clã, para isso é necessário conhecer a chave de acesso do clã, 
      caso já tenha solicitado acesso, ela pode estar aguardando aprovação, 
      você também pode criar clãs, e compartilhar com seus amigos a chave de acesso.</p>
    <p class="warning-no-club">O que você deseja?</p>
    <ion-buttons class="warning-buttons">
      <button ion-button round medium left (click)="openEnterKey()">
        INSERIR CHAVE
      </button>
      <button ion-button round medium medium (click)="openCreateNew()">
        CRIAR CLÃ
      </button>
    </ion-buttons>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let club of clubs" (click)="openClub(club)">
      <ion-card>
        <div class="left-side">
          <ion-thumbnail>
            <img src={{club.thumbnailURL}}>
          </ion-thumbnail>
        </div>
        <div class="right-side">
          <h2>{{club.title}}</h2>
          <hr>
          <h3>{{club.description}}</h3>
          <hr>
          <h3 *ngIf="club.qntdMembers == 1">{{club.qntdMembers}} membro</h3>
          <h3 *ngIf="club.qntdMembers > 1">{{club.qntdMembers}} membros</h3>
        </div>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content> 
