<ion-header>

  <ion-navbar>
    <ion-title>MEMBROS</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list no-lines>
    <ion-item *ngFor="let user of users" (click)="checkUser(user)">
      <ion-item *ngIf="!user.isChecked">
        <ion-avatar item-left>
          <img src={{user.thumbnailUrl}}>
        </ion-avatar>
        <h2>{{user.displayName}}</h2>
        <hr *ngIf="user.isAdmin">
        <p *ngIf="user.isAdmin">administrador</p>
      </ion-item>
      <ion-item *ngIf="user.isChecked" style="background-color: cornflowerblue">
        <ion-avatar item-left>
          <img src={{user.thumbnailUrl}}>
        </ion-avatar>
        <h2>{{user.displayName}}</h2>
        <hr *ngIf="user.isAdmin">
        <p *ngIf="user.isAdmin">administrador</p>
      </ion-item>
    </ion-item>
  </ion-list>
</ion-content>
