page-club-challenge {
    
    .toolbar-background {
        background-color: #ff5722;
    }
    
    // Reduce ionic padding inside ion-item.
    .label {
        margin: 0;
    }

    .buttons-card {
        display: table;
        margin: 0 auto;
    }
}
