<ion-header>
  <ion-navbar>
    <ion-title>DESAFIOS</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="refresh()">
        <ion-icon name="refresh-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-padding>
<ion-item no-lines wrap-text *ngIf="emptyChallenges">
  <h2>Crie um novo desafio no botão abaixo!</h2>
</ion-item>
<!-- Accomplished waiting my confirmation -->
<ion-list *ngIf="challengesOtherUserAccomplished.length > 0">
  <ion-list-header><H3>CONFIRMAR RESULTADO</H3></ion-list-header>
  <ion-item *ngFor="let c of challengesOtherUserAccomplished">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenger.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenger.displayName}}</H2>
        </ion-item>
        <!--Admin can change any value-->
        <ion-item *ngIf="isAdminLogged">
          <ion-input [(ngModel)]="c.challengerWins" style="width: 8%; float: left; direction:rtl;" 
            type="number"></ion-input>
          <ion-input style="max-width: 35px; float: center;" 
            type="text" placeholder="VS" readonly></ion-input>
          <ion-input [(ngModel)]="c.challengedWins" style="width: 8%; float: right;  direction:ltr;"
            type="number"></ion-input>
        </ion-item>
        <ion-item *ngIf="!isAdminLogged">
          <ion-input [ngModel]="c.challengerWins" style="width: 8%; float: left; direction:rtl;" 
            type="number" readonly></ion-input>
          <ion-input style="max-width: 35px; float: center;" 
            type="text" placeholder="VS" readonly></ion-input>
          <ion-input [ngModel]="c.challengedWins" style="width: 8%; float: right;  direction:ltr;"
            type="number" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-avatar item-right>
            <img src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2 style="text-align: right;">{{c.userChallenged.displayName}}</H2>
        </ion-item>
        <ion-item>
          <ion-buttons class="buttons-card">
            <button ion-button color="danger" outline icon-left 
              (click)="refuseAccomplishedChallenge(c)">
              <ion-icon name="ios-thumbs-down"></ion-icon>
              RECUSAR
            </button>
            <button ion-button outline icon-left 
              (click)="confirmAccomplishedChallenge(c)">
              <ion-icon name="ios-thumbs-up"></ion-icon>
              CONFIRMAR
            </button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Pending waiting my confirmation -->
<ion-list *ngIf="otherChallengesPending.length > 0">
  <ion-list-header><H3>DESAFIANTE</H3></ion-list-header>
  <ion-item *ngFor="let c of otherChallengesPending">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenger.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenger.displayName}}</H2>
        </ion-item>
        <ion-item>
          <h3>Local: {{c.local}}</h3>
          <h3>Dia: {{c.date | date: "dd/MM - HH:mm"}}</h3>
        </ion-item>
        <ion-item>
          <ion-buttons class="buttons-card">
            <button ion-button outline icon-left (click)="acceptChallenge(c)">
              <ion-icon name="ios-thumbs-up"></ion-icon>
              ACEITAR
            </button>
            <button ion-button color="danger" outline icon-left (click)="excludeChallenge(c)">
              <ion-icon name="ios-thumbs-down"></ion-icon>
              RECUSAR
            </button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Accepted challenges -->
<ion-list *ngIf="challengesAccepted.length > 0">
  <ion-list-header><H3>CONFIRMADO</H3></ion-list-header>
  <ion-item *ngFor="let c of challengesAccepted">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img *ngIf="loggedUser.getUid().valueOf() !== c.userChallenger.getUid().valueOf()" 
              src={{c.userChallenger.thumbnailUrl}}>
            <img *ngIf="loggedUser.getUid().valueOf() !== c.userChallenged.getUid().valueOf()" 
              src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2 *ngIf="loggedUser.getUid().valueOf() !== c.userChallenger.getUid().valueOf()">
            {{c.userChallenger.displayName}}</H2>
          <H2 *ngIf="loggedUser.getUid().valueOf() !== c.userChallenged.getUid().valueOf()">
            {{c.userChallenged.displayName}}</H2>
        </ion-item>
        <ion-item>
          <h3>Local: {{c.local}}</h3>
          <h3>Dia: {{c.date | date: "dd/MM - HH:mm"}}</h3>
        </ion-item>
        <ion-item>
          <ion-buttons class="buttons-card">
            <button ion-button outline icon-left (click)="openLaunchResult(c)">
              <ion-icon name="game-controller-a"></ion-icon>
              LANÇAR RESULTADO
            </button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Pending waiting my opponents -->
<ion-list *ngIf="myChallengesPending.length > 0">
  <ion-list-header><H3>DESAFIADO</H3></ion-list-header>
  <ion-item *ngFor="let c of myChallengesPending">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenged.displayName}}</H2>
        </ion-item>
        <ion-item>
          <h3>Local: {{c.local}}</h3>
          <h3>Dia: {{c.date | date: "dd/MM - HH:mm"}}</h3>
        </ion-item>
        <ion-item>
          <ion-buttons class="buttons-card">
            <button ion-button color="danger" outline icon-left (click)="excludeChallenge(c)">
              <ion-icon name="trash"></ion-icon>
              EXCLUIR
            </button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Accomplished waiting my opponents -->
<ion-list *ngIf="challengesLoggedUserAccomplished.length > 0">
  <ion-list-header><H3>RESULTADO EM APROVAÇÃO</H3></ion-list-header>
  <ion-item *ngFor="let c of challengesLoggedUserAccomplished">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenger.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenger.displayName}}</H2>
        </ion-item>
        <ion-item>
          <ion-input [ngModel]="c.challengerWins" style="width: 8%; float: left; direction:rtl;" 
            type="number" readonly></ion-input>
          <ion-input style="max-width: 35px; float: center;" 
            type="text" placeholder="VS" readonly></ion-input>
          <ion-input [ngModel]="c.challengedWins" style="width: 8%; float: right;  direction:ltr;"
            type="number" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-avatar item-right>
            <img src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2 style="text-align: right;">{{c.userChallenged.displayName}}</H2>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Admin validation -->
<ion-list *ngIf="challengesAdminValidation.length > 0">
  <ion-list-header><H3>VALIDAÇÃO DO ADMINISTRADOR</H3></ion-list-header>
  <ion-item *ngFor="let c of challengesAdminValidation">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenger.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenger.displayName}}</H2>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="c.challengerWins" style="width: 8%; float: left; direction:rtl;" 
            type="number"></ion-input>
          <ion-input style="max-width: 35px; float: center;" 
            type="text" placeholder="VS" readonly></ion-input>
          <ion-input [(ngModel)]="c.challengedWins" style="width: 8%; float: right;  direction:ltr;"
            type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-avatar item-right>
            <img src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2 style="text-align: right;">{{c.userChallenged.displayName}}</H2>
        </ion-item>
        <ion-item *ngIf="isAdminLogged">
          <ion-buttons class="buttons-card">
            <button ion-button outline icon-left 
              (click)="confirmAccomplishedChallenge(c)">
              <ion-icon name="ios-thumbs-up"></ion-icon>
              APROVAR
            </button>
            <button ion-button color="danger" outline icon-left 
              (click)="excludeChallenge(c)">
              <ion-icon name="ios-thumbs-down"></ion-icon>
              EXCLUIR
            </button>
          </ion-buttons>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

<!-- Completed -->
<ion-list *ngIf="challengesCompleted.length > 0">
  <ion-list-header><H3>FINALIZADOS</H3></ion-list-header>
  <ion-item *ngFor="let c of challengesCompleted">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-avatar item-left>
            <img src={{c.userChallenger.thumbnailUrl}}>
          </ion-avatar>
          <H2>{{c.userChallenger.displayName}}</H2>
        </ion-item>
        <ion-item>
          <ion-input [ngModel]="c.challengerWins" style="width: 8%; float: left; direction:rtl;" 
            type="number" readonly></ion-input>
          <ion-input style="max-width: 35px; float: center;" 
            type="text" placeholder="VS" readonly></ion-input>
          <ion-input [ngModel]="c.challengedWins" style="width: 8%; float: right;  direction:ltr;"
            type="number" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-avatar item-right>
            <img src={{c.userChallenged.thumbnailUrl}}>
          </ion-avatar>
          <H2 style="text-align: right;">{{c.userChallenged.displayName}}</H2>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-item>
</ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="openChallengeCreateView()">
     <ion-icon name="add"></ion-icon>
    </button>
 </ion-fab>
</ion-content>
