<ion-header>
  <ion-navbar>
    <ion-title>Solicitar acesso a clube</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label color="primary" stacked>Chave do clube</ion-label>
    <ion-input type="text" (ngModel)="clubKey" placeholder="ex.: KjTMiAyqh21rwsTB6Gx"></ion-input>
  </ion-item>

  <ion-buttons class="buttons-card">
    <button ion-button color="danger" 
      (click)="back()">
      VOLTAR
    </button>
    <button ion-button 
      (click)="requestAccess()">
      ENVIAR
    </button>
  </ion-buttons>
  <!--<ion-list>
    <ion-item *ngFor="let club of clubs" >
      <ion-thumbnail item-left>
        <img src={{club.thumbnailURL}}>
      </ion-thumbnail>
      <h2>{{club.title}}</h2>
      <p>{{club.description}}</p>

      <div class="right-dynamic-fab">
        <ion-fab right bottom>
          <button *ngIf="isUserClubMember(club)" ion-fab color="secondary"
                  (click)="openUserClub(club)">
              <ion-icon name="happy"></ion-icon>
          </button>
          <button *ngIf="isUserClubNotMember(club)" ion-fab color="danger" 
                  (click)="requireAccessToClub(club)">
              <ion-icon  name="person-add"></ion-icon>
          </button>
          <button *ngIf="isUserClubPendingMember(club)" ion-fab color="primary" 
                  (click)="requireAccessToClub(club)">
              <ion-icon  name="git-pull-request"></ion-icon>
          </button>
        </ion-fab>
      </div>
    </ion-item>
  </ion-list>-->


</ion-content>
